body {
   background-color: #ffece6;
  width: 100%;
  height: 100%;
  margin: 10px;
}

header {
  text-align: center;
  align-content: center;
  align-self: center;
}


section#featured-property img{
  display: block;
 margin-left: auto;
 margin-right: auto;
}

nav > a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: slateblue;
  color: orange;
}

section figcaption{
  font-size:70%;
  text-align: center;
  color: darkgreen;
}

section#details div{
  background-color: #4df9ff;
  display: block;
  float: left;
  width: 25%;
  text-align: center;
}


/* h1 {
  color: red;
} */
