body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1{
  text-align: center; /*aligns the header text in the center*/
}

img {
  display: block;
  margin: 0 auto;
}

/* A block-level element always starts on a new line and takes up the full width available (stretches out to the left and right as far as it can).This is the central image, and it's now centered. Could have also written margins like this:
  margin-left: auto;
  margin-right: auto;
*/


nav,
figcaption {
  text-align: center;
}
/*Let's shrink that font size down and make sure it is centered.*/

nav a {
  padding: 0 10px;
  background-color: grey;
  margin: 0 auto;
}

/*Let's center all of our nav links as well. Give all of the <a> tags within our navbar a padding of 10px on their left and right sides. In addition, change their background color to something of your choosing. We chose grey!*/

#featured-property p {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

/*Our image is about 900px wide, so let's give all our <p> within #featured-property a hard width of 800px and center the text in there.*/

#details div{
  float: left;
  background-color: red;
  width: 25%;
  text-align: center;
}

/*All of them should have the same background color, centered text, and occupy 25% of the width of the bottom row (since we have 4 divs).*/